<section class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Angular and Spring Boot Web Application</h1>
      <p>Built with Angular 10 and Spring Boot</p>
      <hr />
      <div class="col-md-8 mx-auto">
        <a
          class="btn btn-info btn-lg mr-3"
          [routerLink]="['http://mahmoudosman.com/']"
          target="_blank"
          >Learn More</a
        >
        <a
          class="btn btn-primary btn-lg ml-3"
          [routerLink]="['https://www.linkedin.com/in/mahmoudaosman/']"
          target="_blank"
          >linkedin</a
        >
      </div>
    </div>
  </div>
</section>
