<section class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Angular and Spring Boot Web Application</h1>
        <p>Built with Angular 10 and Spring Boot</p>
        <hr />
        <div class="col-md-8 mx-auto">
          <a
            class="btn btn-info btn-lg mr-3"
            [routerLink]="['https://mahmoudosman.com/']"
            target="_blank"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
