<section class="add_post_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- The Modal -->
        <div class="modal" id="addPostModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h2 class="modal-title text-info">{{addPostTitle}}</h2>
                <button
                  type="button"
                  class="close text-danger"
                  data-dismiss="modal"
                >
                  &times;
                </button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="add_new_post">
                  <form
                    #validateForm="ngForm"
                    (ngSubmit)="onSubmit()"
                    method="POST"
                  >
                    <div class="form-group">
                      <label for="title">Post Title</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter post title"
                        #title="ngModel"
                        [(ngModel)]="post.title"
                        name="title"
                        id="title"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="title.invalid && (title.dirty || title.touched)"
                        >Title name is required!</span
                      >
                    </div>
                    <div class="form-group">
                      <label for="author">Author</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter author"
                        #author="ngModel"
                        [(ngModel)]="post.author"
                        name="author"
                        id="author"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="author.invalid && (author.dirty || author.touched)"
                        >Author name is required!</span
                      >
                    </div>
                    <div class="form-group">
                      <label for="post_image">Post Image</label>
                      <input
                        type="file"
                        class="form-control"
                        #postImage="ngModel"
                        [(ngModel)]="post.postImage"
                        name="postImage"
                        id="postImage"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="postImage.invalid && (postImage.dirty || postImage.touched)"
                        >Post image is required!</span
                      >
                    </div>
                    <div class="form-group">
                      <label for="created_at">Published Date</label>
                      <input
                        type="date"
                        class="form-control"
                        #createdAt="ngModel"
                        [(ngModel)]="post.createdAt"
                        name="created_at"
                        id="createdAt"
                        required
                      />
                      <span
                        class="text-danger"
                        *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)"
                        >Post published date is required!</span
                      >
                    </div>

                    <div class="form-group">
                      <label for="content">Post Body</label>
                      <textarea
                        name="post_content"
                        id=""
                        cols="30"
                        rows="10"
                        class="form-control"
                        placeholder="Enter post content"
                        #content="ngModel"
                        [(ngModel)]="post.content"
                        name="content"
                        id="content"
                        required
                      ></textarea>
                      <span
                        class="text-danger"
                        *ngIf="content.invalid && (content.dirty || content.touched)"
                        >Post content is required!</span
                      >
                    </div>

                    <button
                      type="submit"
                      class="btn btn-info btn-lg"
                      [disabled]="!validateForm.valid"
                    >
                      Submit
                    </button>
                  </form>
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <!-- <p class="text-muted text-left">
                  Add new post to the post list
                </p> -->
                <!-- <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Close
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
